[Unit]
Description=Videk container
Wants=vpn-server.service
After=docker.service

[Service]
RestartSec=10
TimeoutStartSec=infinity
Restart=always
User=videk
PermissionsStartOnly=true
ExecStartPre=-/usr/bin/docker pull sensorlab6/videk
ExecStart=/bin/videk

[Install]
WantedBy=default.target
