[Unit]
Description=Videk VPN client
After=vpn-server.service

[Service]
Restart=always
ExecStart=/usr/sbin/openvpn /var/edison.ovpn

[Install]
WantedBy=default.target
